**/Config.plist
**/GoogleService-Info.plist
*.dSYM.zip
.env.*
build/
Derived
fastlane/report.xml
Hopin.app.dSYM.zip
Hopin.ipa
Hopin.xcworkspace/
html
info.json
muter_logs/
muter_report.json
Pods/
xcuserdata/
.DS_Store
Targets/Hopin/Sources/JammProto/gql/
apollo-cli/
**/__Snapshots__/*SnapshotTests/
